*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: black;
}

.flexbox {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 2000px;
    height: 50vh;

    overflow: hidden;

    margin: 0 auto;
    padding: 15px;
}

.flexbox .board {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 300px;

    background-color: #f3f3f3;

    padding: 15px;
}

.flexbox .board .card .i{

    background-color: #f3f3f3;

    cursor: pointer;
    margin-bottom: 15px;

    padding: 15px 25px;
}

.flexbox h5{
    color: black;
    text-align: center;
    font-size: 17px;
}

.head {
    text-align: center;
    font-size: 20px;
    background-color: rgb(165, 155, 165);
    font-weight: 1000;
}

.k{
    background-color: rgb(240, 138, 209);
    font-size: 20px;
}

.inner h3{
    font-size: 15px;
}

.inner{
    padding: 10px;
    text-align: left;
}

span{
    font-size: 13px;
}

.close{
    border-radius: 20px;
    background: red;
    padding: 10px;
    width: 20px;
    color: white;
    height: 20px;
}